Repository renovate-bot/khulnasoft-lab-_-ai-assist: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-code, lint-doc

lefthook.yaml:

pre-commit:
  parallel: true
  skip:
    - ref: main
  commands:
    lint:
      glob: "*.py"
      run: make lint-code LINT_WORKING_DIR={staged_files}

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - ref: main
  commands:
    lint-code:
      glob: "*.py"
      run: make lint-code
    lint-doc:
      glob: "*.md"
      run: make lint-doc

feat: introduce gpt family for duo chat react agents
  ai_gateway/prompts/definitions/chat/react/gpt.yml
Due: none

fix: do not repeat existing code in code generation
  ai_gateway/prompts/definitions/code_suggestions/generations/jinja_template/self_hosted/user.jinja
Due: none

feat: improves indexing for local doc search
  ai_gateway/scripts/index_docs_as_sqlite.py
  ai_gateway/searches/sqlite_search.py
Due: lint, lint-code

feat: add prompt for categorize_question
  ai_gateway/prompts/definitions/categorize_question/base.yml
  ai_gateway/prompts/definitions/categorize_question/categories.xml
  ai_gateway/prompts/definitions/categorize_question/labels.xml
Due: none

chore: update Fireworks EU endpoint to Frankfurt
  .runway/ai-gateway-custom/env-production.yml
  .runway/ai-gateway-custom/env-staging.yml
  .runway/env-production.yml
  .runway/env-staging.yml
  example.env
Due: none

chore: logs search results
  ai_gateway/api/v1/search/docs.py
Due: lint, lint-code

chore: remove levenshtein dependency and references
  ai_gateway/code_suggestions/processing/ops.py
  poetry.lock
  pyproject.toml
  tests/code_suggestions/test_processing.py
Due: lint, lint-code

chore(deps): update dependency boto3 to v1.35.68
  poetry.lock
Due: none

chore(deps): update dependency evilmartians/lefthook to v1.8.4
  .tool-versions
Due: none

chore(deps): update dependency snowplow-tracker to v1.0.4
  poetry.lock
Due: none

chore(deps): update dependency transformers to v4.46.3
  poetry.lock
Due: none

chore(deps): update dependency uvicorn to v0.32.1
  poetry.lock
Due: none

chore(deps): update dependency google-cloud-aiplatform to v1.73.0
  poetry.lock
Due: none

chore(deps): update dependency langchain to v0.3.8
  poetry.lock
Due: none

chore(deps): update dependency litellm to v1.52.15
  poetry.lock
Due: none

feat: introduce gpt family for duo chat and /fix
  ai_gateway/prompts/definitions/chat/fix_code/gpt.yml
Due: none

chore: improve mistral prompt for code generation
  ai_gateway/prompts/definitions/code_suggestions/generations/jinja_template/self_hosted/system_mistral.jinja
  ai_gateway/prompts/definitions/code_suggestions/generations/mistral.yml
Due: none

chore: fix language not being available always
  ai_gateway/prompts/definitions/code_suggestions/completions/system.jinja
  ai_gateway/prompts/definitions/code_suggestions/generations/jinja_template/self_hosted/system.jinja
Due: none

feat: deprecate unused `/v1/x-ray/libraries` endpoint
  ai_gateway/api/v1/x_ray/libraries.py
Due: lint, lint-code

chore: document vertex API calls targeting gitlab-ai-framework-prod
  README.md
Due: lint-doc

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.48.0
  .gitlab/ci/ingest.gitlab-ci.yml
Due: none

fix: add affinity headers to fireworks API for better caching
  ai_gateway/code_suggestions/completions.py
  ai_gateway/models/litellm.py
  tests/models/test_litellm.py
Due: lint, lint-code

feat: introduce gpt family for duo chat /tests
  ai_gateway/prompts/definitions/chat/write_tests/gpt.yml
Due: none

chore: fix claude-3-5 prompts for bedrock
  ai_gateway/prompts/definitions/code_suggestions/completions/claude_3.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/claude_3_user.jinja
Due: none

feat: update v4 to return SSE-formatted streaming responses
  ai_gateway/api/v3/code/completions.py
  ai_gateway/api/v3/code/typing.py
  ai_gateway/api/v4/code/suggestions.py
  ai_gateway/api/v4/code/typing.py
  docs/api.md
  poetry.lock
  pyproject.toml
  tests/api/v4/test_v4_code.py
Due: lint, lint-code, lint-doc

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.48.1
  .gitlab/ci/ingest.gitlab-ci.yml
Due: none

feat: introduce gpt family for duo chat /refactor
  ai_gateway/prompts/definitions/chat/refactor_code/gpt.yml
Due: none

chore(deps): update dependency pydantic to v2.10.2
  poetry.lock
  tests/api/test_error_utils.py
  tests/api/v2/test_v2_code.py
  tests/prompts/test_container.py
Due: lint, lint-code

feat: update saas template to account for no language
  ai_gateway/prompts/definitions/code_suggestions/generations/jinja_template/dotcom/system.jinja
Due: none

chore: fix mypy warnings in auth/
  Makefile
  ai_gateway/auth/container.py
Due: lint, lint-code

chore: fix mypy warnings in experimentation/
  Makefile
  ai_gateway/code_suggestions/prompts/parsers/treesitter.py
  ai_gateway/experimentation/base.py
  ai_gateway/experimentation/provider.py
Due: lint, lint-code

fix: logs leaking api keys
  ai_gateway/api/v2/code/completions.py
  ai_gateway/structured_logging.py
  tests/test_structured_log.py
Due: lint, lint-code

feat: introduce gpt family for duo chat /explain
  ai_gateway/prompts/definitions/chat/explain_code/gpt.yml
Due: none

feat: add summarize new mr prompt definition
  ai_gateway/prompts/definitions/summarize_new_merge_request/base.yml
  poetry.lock
  pyproject.toml
Due: none

feat: add issue commit and epic reader tools for gpt
  ai_gateway/prompts/definitions/chat/commit_reader/gpt.yml
  ai_gateway/prompts/definitions/chat/epic_reader/gpt.yml
  ai_gateway/prompts/definitions/chat/issue_reader/gpt.yml
Due: none

chore(deps): update dependency gitlab-cloud-connector to v1.3.1
  poetry.lock
Due: none

chore(deps): update dependency langchain to v0.3.9
  poetry.lock
Due: none

chore(deps): update dependency anthropic to ^0.40.0
  poetry.lock
  pyproject.toml
Due: none

chore(deps): update dependency litellm to v1.53.1
  poetry.lock
Due: none

feat(runway): deploy self-hosted image every commit
  .gitlab-ci.yml
  .gitlab/ci/build.gitlab-ci.yml
Due: none
