Repository renovate-bot/khulnasoft-lab-_-ai-assist: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-code, lint-doc

lefthook.yaml:

pre-commit:
  parallel: true
  skip:
    - ref: main
  commands:
    lint:
      glob: "*.py"
      run: make lint-code LINT_WORKING_DIR={staged_files}

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - ref: main
  commands:
    lint-code:
      glob: "*.py"
      run: make lint-code LINT_WORKING_DIR={staged_files}
    lint-doc:
      glob: "*.md"
      run: make lint-doc LINT_DOC_WORKING_DIR={staged_files}

fix(docs): fix error coming from updated linting configuration
  docs/internal_events.md
Due: lint-doc

chore(deps): update dependency fastapi to v0.114.2
  poetry.lock
Due: none

chore(deps): update dependency pytest to v8.3.3
  poetry.lock
Due: none

chore(deps): update dependency dependency-injector to v4.42.0
  poetry.lock
Due: none

chore(deps): update dependency pydantic-settings to v2.5.2
  poetry.lock
Due: none

chore: sync v2 chat/react/base params with v1
  ai_gateway/prompts/definitions/chat/react/base.yml
Due: none

chore(deps): update dependency litellm to v1.46.0
  poetry.lock
Due: none

fix(chat): malformed chat history
  ai_gateway/api/v2/chat/typing.py
  ai_gateway/chat/agents/react.py
  ai_gateway/chat/container.py
  ai_gateway/chat/executor.py
  ai_gateway/prompts/base.py
  ai_gateway/prompts/definitions/chat/react/system.jinja
  ai_gateway/prompts/registry.py
  conftest.py
  tests/api/v1/test_v1_prompts.py
  tests/chat/test_agent_react.py
  tests/chat/test_gl_agent_remote.py
  tests/prompts/test_container.py
Due: lint, lint-code

feat(chat): support expanded_ai_logging feature flag
  ai_gateway/api/v2/chat/agent.py
  ai_gateway/chat/agents/react.py
  ai_gateway/chat/executor.py
  ai_gateway/feature_flags/context.py
  ai_gateway/models/base.py
  tests/chat/test_agent_react.py
Due: lint, lint-code

fix: add post-processing for codestral-on-vertex
  ai_gateway/api/v2/code/completions.py
  ai_gateway/async_dependency_resolver.py
  ai_gateway/code_suggestions/completions.py
  ai_gateway/code_suggestions/container.py
  tests/api/v2/test_v2_code.py
  tests/code_suggestions/test_completions.py
  tests/code_suggestions/test_container.py
Due: lint, lint-code

chore(deps): update dependency pydantic to v2.9.2
  poetry.lock
Due: none

chore(deps): update dependency google-cloud-aiplatform to v1.67.0
  poetry.lock
Due: none

chore: remove indent on prompts to save token
  ai_gateway/chat/tools/gitlab.py
Due: lint, lint-code

chore: remove prefix in base react prompt
  ai_gateway/prompts/definitions/chat/react/mistral.yml
  ai_gateway/prompts/definitions/chat/react/mixtral.yml
  ai_gateway/prompts/definitions/chat/react/user.jinja
  ai_gateway/prompts/definitions/chat/react/user_with_prefix.jinja
  ai_gateway/prompts/definitions/chat/react/vertex.yml
Due: none

fix: send code context to prompt builder and set max
  ai_gateway/api/v2/code/completions.py
  ai_gateway/code_suggestions/completions.py
  ai_gateway/code_suggestions/processing/pre/prefix_based.py
  tests/api/v2/test_v2_code.py
  tests/code_suggestions/pre_processing/test_prefix_based.py
  tests/code_suggestions/test_completions.py
Due: lint, lint-code

fix: log middleware is not working correctly
  ai_gateway/api/middleware.py
  ai_gateway/api/server.py
  ai_gateway/api/v2/chat/agent.py
  conftest.py
  tests/code_suggestions/test_logging.py
Due: lint, lint-code

fix: implement server side error handling on /code/completion endpoint
  ai_gateway/models/litellm.py
  tests/models/test_litellm.py
Due: lint, lint-code

chore(deps): update dependency google-cloud-aiplatform to v1.67.1
  poetry.lock
Due: none

chore(deps): update dependency prometheus-client to ^0.21.0
  poetry.lock
  pyproject.toml
Due: none

fix(access log): exception field names
  ai_gateway/api/middleware.py
  tests/code_suggestions/test_logging.py
Due: lint, lint-code

chore(deps): update dependency fastapi to ^0.115.0
  poetry.lock
  pyproject.toml
Due: none

refactor: replace root_url with file specific url in ingest
  scripts/ingest/gitlab-docs/steps/base_content_parser.rb
  scripts/ingest/gitlab-docs/steps/parse.rb
Due: none

chore(deps): update dependency pylint to v3.3.0
  poetry.lock
  pyproject.toml
Due: none

fix: allow ingest pipeline to be triggered manually
  .gitlab/ci/ingest.gitlab-ci.yml
Due: none

fix(chat): set mime type to application/x-ndjson
  ai_gateway/api/middleware.py
  ai_gateway/api/v2/chat/agent.py
  tests/code_suggestions/test_authentication.py
Due: lint, lint-code

fix: missing code generation
  ai_gateway/prompts/definitions/chat/react/system.jinja
  ai_gateway/prompts/definitions/chat/react/system_mistral.jinja
Due: none

feat: add CommitReader for Duo Chat
  ai_gateway/chat/agents/typing.py
  ai_gateway/chat/tools/gitlab.py
  ai_gateway/chat/toolset.py
  ai_gateway/feature_flags/context.py
  ai_gateway/gitlab_features.py
  ai_gateway/prompts/definitions/chat/commit_reader/base.yml
  tests/chat/test_toolset.py
Due: lint, lint-code

feat: add suffix as stop token for codestral-on-vertex
  ai_gateway/models/litellm.py
  tests/api/v2/test_v2_code.py
  tests/models/test_litellm.py
Due: lint, lint-code

feat: process issue and epic questions in separate UPs
  ai_gateway/chat/toolset.py
  ai_gateway/gitlab_features.py
  tests/chat/test_toolset.py
Due: lint, lint-code

feat: migrate examples_section and existing_code_block for anthropic
  ai_gateway/api/v3/code/completions.py
  ai_gateway/api/v3/code/typing.py
  ai_gateway/code_suggestions/generations.py
  ai_gateway/prompts/base.py
  ai_gateway/prompts/definitions/code_suggestions/generations/base.yml
  tests/api/v3/test_v3_code.py
Due: lint, lint-code

feat(chat): return error event from v2/chat/agent
  ai_gateway/chat/agents/react.py
  ai_gateway/chat/agents/typing.py
  conftest.py
  tests/chat/test_agent_react.py
Due: lint, lint-code

chore(deps): update dependency litellm to v1.48.2
  poetry.lock
Due: none

feat(log): add response_start_duration_s and first_chunk_duration_s
  ai_gateway/api/middleware.py
  tests/code_suggestions/test_authentication.py
Due: lint, lint-code

fix: handles validation errors on code/completion endpoint
  ai_gateway/api/error_utils.py
  ai_gateway/api/v2/code/completions.py
  tests/api/test_error_utils.py
  tests/api/v2/test_v2_code.py
Due: lint, lint-code

chore: remove AIGW_VERTEX_SEARCH__PROJECT from runway staging config
  .runway/env-staging.yml
Due: none

feat: add prompt for summarize_review
  ai_gateway/prompts/definitions/summarize_review/base.yml
Due: none

feat(chat): log selected tool by v2/chat/agent
  ai_gateway/chat/agents/react.py
  tests/chat/test_agent_react.py
Due: lint, lint-code

refactor: updates codestral@2405 model to align with actual LLM provider (Vertex AI)
  ai_gateway/api/v2/code/completions.py
  ai_gateway/code_suggestions/base.py
  ai_gateway/code_suggestions/container.py
  ai_gateway/models/litellm.py
  ai_gateway/models/vertex_text.py
  tests/api/v2/test_v2_code.py
  tests/models/test_litellm.py
Due: lint, lint-code

chore(promts): clean up duplicated prompts for custom models
  ai_gateway/code_suggestions/base.py
  ai_gateway/models/litellm.py
  ai_gateway/prompts/definitions/chat/react/mixtral.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/codegemma.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/codegemma_2b.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/codellama.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/mistral_text.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/mixtral.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/mixtral_8x22b.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/mixtral_8x22b_text.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/mixtral_text.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/mixtral.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/mixtral_8x22b.yml
  tests/api/v2/test_v2_code.py
  tests/models/test_litellm.py
Due: lint, lint-code
