Repository renovate-bot/khulnasoft-lab-_-ai-assist: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-code, lint-doc

lefthook.yaml:

pre-commit:
  parallel: true
  skip:
    - ref: main
  commands:
    lint:
      glob: "*.py"
      run: make lint-code LINT_WORKING_DIR={staged_files}

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - ref: main
  commands:
    lint-code:
      glob: "*.py"
      run: make lint-code LINT_WORKING_DIR={staged_files}
    lint-doc:
      glob: "*.md"
      run: make lint-doc LINT_DOC_WORKING_DIR={staged_files}

Revert "Merge branch 'revert-3a7211b6' into 'main'"
  ai_gateway/api/v2/chat/agent.py
  ai_gateway/api/v2/chat/typing.py
  ai_gateway/chat/agents/react.py
  ai_gateway/chat/agents/typing.py
  ai_gateway/chat/executor.py
  ai_gateway/prompts/base.py
  ai_gateway/prompts/definitions/chat/react/assistant.jinja
  ai_gateway/prompts/definitions/chat/react/partials/additional_context.jinja
  ai_gateway/prompts/definitions/chat/react/partials/agent_scratchpad.jinja
  ai_gateway/prompts/definitions/chat/react/partials/context.jinja
  ai_gateway/prompts/definitions/chat/react/partials/current_file.jinja
  ai_gateway/prompts/definitions/chat/react/system.jinja
  ai_gateway/prompts/definitions/chat/react/user.jinja
  tests/api/v1/test_v1_prompts.py
  tests/chat/test_agent_react.py
  tests/chat/test_gl_agent_remote.py
  tests/prompts/test_container.py
Due: lint, lint-code

fix: add "\n+++++" as a stop token for Codestral FIM requests
  ai_gateway/models/litellm.py
  tests/api/v2/test_v2_code.py
  tests/models/test_litellm.py
Due: lint, lint-code

fix(chat): remove unnecessary indents from user template
  ai_gateway/prompts/definitions/chat/react/user.jinja
Due: none

chore: remove merge request reader FF check
  ai_gateway/chat/toolset.py
  ai_gateway/feature_flags/context.py
  tests/chat/test_toolset.py
Due: lint, lint-code

chore: do not raise on invalid duo-seat-counts, log errors instead
  ai_gateway/api/middleware.py
  tests/code_suggestions/test_authentication.py
Due: lint, lint-code

feat: fixes self-provided claude_3 prompt
  ai_gateway/prompts/definitions/code_suggestions/generations/claude_3.yml
Due: none

feat(prompts): change prompt for mistral models
  ai_gateway/prompts/definitions/chat/react/mistral.yml
  ai_gateway/prompts/definitions/chat/react/system_mistral.jinja
  ai_gateway/prompts/definitions/chat/react/user_with_prefix.jinja
Due: none

fix(chat): mock mode does not work in v2/chat/endpoint
  ai_gateway/models/base.py
  ai_gateway/models/container.py
  ai_gateway/models/mock.py
  ai_gateway/models/v2/container.py
Due: lint, lint-code

feat(prompts): add prompts for fix code tool
  ai_gateway/prompts/definitions/chat/fix_code/base.yml
  ai_gateway/prompts/definitions/chat/fix_code/mistral.yml
  ai_gateway/prompts/definitions/chat/fix_code/system.jinja
  ai_gateway/prompts/definitions/chat/fix_code/user.jinja
Due: none

feat(prompts): accept complex model identifiers
  ai_gateway/prompts/base.py
  tests/prompts/test_registry.py
Due: lint, lint-code

fix(chat): request_content_json log field
  ai_gateway/internal_events/client.py
  ai_gateway/models/base.py
Due: lint, lint-code

fix(chat): authorization and telemetry of injected context
  ai_gateway/api/middleware.py
  ai_gateway/api/v2/chat/agent.py
  ai_gateway/chat/agents/typing.py
  ai_gateway/gitlab_features.py
  ai_gateway/internal_events/client.py
  ai_gateway/internal_events/context.py
  tests/api/test_middleware.py
  tests/api/v2/test_v2_chat_agent.py
  tests/chat/test_agent_react.py
  tests/code_suggestions/internal_events/test_internal_events.py
Due: lint, lint-code

chore: update snowplow schema version in snowploweventcontext class
  ai_gateway/api/middleware.py
  ai_gateway/api/snowplow_context.py
  ai_gateway/tracking/snowplow.py
  tests/api/v2/test_v2_code.py
  tests/api/v3/test_v3_code.py
  tests/code_suggestions/test_authentication.py
  tests/code_suggestions/test_logging.py
  tests/code_suggestions/tracking/test_snowplow.py
Due: lint, lint-code

fix: tracked internal events
  ai_gateway/api/middleware.py
  tests/api/test_middleware.py
Due: lint, lint-code

fix: fix tool description inconsistencies
  ai_gateway/chat/tools/gitlab.py
Due: lint, lint-code

chore(deps): update dependency google-cloud-discoveryengine to v0.12.3
  poetry.lock
Due: none

chore(deps): update dependency transformers to v4.45.2
  poetry.lock
Due: none

chore(deps): update dependency uvicorn to v0.31.1
  poetry.lock
Due: none

chore(deps): update dependency anthropic to ^0.36.0
  poetry.lock
  pyproject.toml
Due: none

chore(deps): update dependency black to v24.10.0
  poetry.lock
Due: none

chore(deps): update dependency google-cloud-aiplatform to v1.70.0
  poetry.lock
Due: none

chore(deps): update dependency pyfakefs to v5.7.0
  poetry.lock
Due: none

chore(deps): update dependency fastapi to v0.115.2
  poetry.lock
Due: none

chore(deps): update dependency litellm to v1.49.2
  poetry.lock
Due: none

feat(prompts): change chat tools UPs to granular ones
  ai_gateway/gitlab_features.py
  ai_gateway/prompts/definitions/chat/explain_code/base.yml
  ai_gateway/prompts/definitions/chat/explain_code/claude_3.yml
  ai_gateway/prompts/definitions/chat/explain_code/mistral.yml
  ai_gateway/prompts/definitions/chat/fix_code/base.yml
  ai_gateway/prompts/definitions/chat/fix_code/mistral.yml
  ai_gateway/prompts/definitions/chat/refactor_code/base.yml
  ai_gateway/prompts/definitions/chat/refactor_code/claude_3.yml
  ai_gateway/prompts/definitions/chat/refactor_code/mistral.yml
  ai_gateway/prompts/definitions/chat/write_tests/base.yml
  ai_gateway/prompts/definitions/chat/write_tests/claude_3.yml
  ai_gateway/prompts/definitions/chat/write_tests/mistral.yml
Due: lint, lint-code

chore(prompts): deduplicate code generation prompts
  ai_gateway/prompts/definitions/code_suggestions/generations/claude_3.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/codegemma.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/codellama.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/codestral.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/deepseekcoder.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/gpt.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/mistral.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/system.jinja
  ai_gateway/prompts/definitions/code_suggestions/generations/user.jinja
Due: none

fix: consider code with existing errors in code suggestions
  ai_gateway/code_suggestions/container.py
  ai_gateway/code_suggestions/processing/post/completions.py
  ai_gateway/code_suggestions/processing/post/ops.py
  tests/code_suggestions/post_processing/test_fix_end_block_errors.py
  tests/code_suggestions/post_processing/test_post_processor_completions.py
Due: lint, lint-code

chore: removes reference to X-Gitlab-Saas-Namespace-Ids
  integration_tests/test_code_suggestions.py
  tests/api/v2/test_v2_code.py
Due: lint, lint-code

fix(events): gitlab_saas_duo_pro_namespace_ids bad events
  ai_gateway/api/snowplow_context.py
  tests/api/v2/test_v2_code.py
Due: lint, lint-code

feat: fixes self-provided claude_3 prompt
  ai_gateway/prompts/base.py
  poetry.lock
  pyproject.toml
  tests/prompts/test_prompt.py
Due: lint, lint-code

fix(prompts): remove trailing slash to fix ollama_chat calls
  ai_gateway/prompts/base.py
  tests/prompts/test_prompt.py
  tests/prompts/test_registry.py
Due: lint, lint-code

feat: remove instant models in ai gateway
  ai_gateway/api/monitoring.py
  ai_gateway/api/v1/x_ray/typing.py
  ai_gateway/code_suggestions/base.py
  ai_gateway/code_suggestions/container.py
  ai_gateway/models/anthropic.py
  conftest.py
  docs/api.md
  tests/api/v1/test_v1_xray_libraries.py
  tests/api/v2/test_v2_code.py
  tests/api/v3/test_v3_code.py
  tests/code_suggestions/models/test_anthropic.py
Due: lint, lint-code, lint-doc

fix(chat): authorization and telemetry of duo chat tools
  ai_gateway/api/v2/chat/agent.py
  ai_gateway/chat/container.py
  ai_gateway/chat/executor.py
  ai_gateway/chat/tools/base.py
  ai_gateway/chat/tools/gitlab.py
  ai_gateway/chat/toolset.py
  ai_gateway/container.py
  tests/chat/test_agent_react.py
  tests/chat/test_base.py
  tests/chat/test_gl_agent_remote.py
  tests/chat/test_toolset.py
Due: lint, lint-code

Revert "Merge branch 'nweinshenker/remove-instant-model' into 'main'"
  ai_gateway/api/monitoring.py
  ai_gateway/api/v1/x_ray/typing.py
  ai_gateway/code_suggestions/base.py
  ai_gateway/code_suggestions/container.py
  ai_gateway/models/anthropic.py
  conftest.py
  docs/api.md
  tests/api/v1/test_v1_xray_libraries.py
  tests/api/v2/test_v2_code.py
  tests/api/v3/test_v3_code.py
  tests/code_suggestions/models/test_anthropic.py
Due: lint, lint-code, lint-doc

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.41.1
  .gitlab-ci.yml
  .gitlab/ci/ingest.gitlab-ci.yml
Due: none

feat: add script for troubleshooting bedrock
  scripts/troubleshoot_selfhosted_installation.py
Due: lint, lint-code

fix: includes troubleshooting script on image
  docker/self_hosted/Dockerfile
  scripts/troubleshoot_selfhosted_installation.py
Due: lint, lint-code

chore(deps): update dependency langchain-community to ^0.3.0
  ai_gateway/chat/agents/react.py
  ai_gateway/models/agent_model.py
  ai_gateway/models/v2/anthropic_claude.py
  ai_gateway/prompts/config/models.py
  poetry.lock
  pyproject.toml
  tests/models/test_agent_model.py
  tests/models/v2/test_v2_anthropic.py
Due: lint, lint-code

feat: log Cloud Connector JWKS updates
  ai_gateway/api/server.py
  ai_gateway/cloud_connector/providers.py
  tests/cloud_connector/auth/test_auth_providers.py
Due: lint, lint-code
