Repository renovate-bot/khulnasoft-lab-_-ai-assist: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-code, lint-doc

lint:
  run: make lint-code LINT_WORKING_DIR={staged_files}

lint-code:
  run: make lint-code

lint-doc:
  run: make lint-doc

feat: add streaming format header to v4 SSE responses
  ai_gateway/api/v4/code/suggestions.py
  docs/api.md
  tests/api/v4/test_v4_code.py
Due: lint, lint-code, lint-doc

feat(chat): bump max_tokens_to_sample to 8192
  ai_gateway/api/v1/chat/typing.py
Due: lint, lint-code

fix(v1/chat/agent): cap max_tokens to 4096 in parameter conversion
  ai_gateway/api/v1/chat/agent.py
Due: lint, lint-code

fix(runway): specify correct base urls for glgo
  .runway/env-production.yml
  .runway/env-staging.yml
Due: none

fix(q): call create_auth_grant with kwarg
  ai_gateway/integrations/amazon_q/client.py
  tests/api/v1/test_v1_events.py
Due: lint, lint-code

chore(deps): update dependency starlette to v0.41.3
  poetry.lock
Due: none

chore(deps): update dependency astroid to v3.3.6
  poetry.lock
Due: none

chore(deps): update dependency evilmartians/lefthook to v1.9.2
  .tool-versions
Due: none

chore(deps): update dependency gitlab-cloud-connector to v1.6.1
  poetry.lock
Due: none

chore(deps): update dependency google-cloud-discoveryengine to v0.13.5
  poetry.lock
Due: none

chore(deps): update dependency pydantic-settings to v2.7.0
  poetry.lock
Due: none

chore(deps): update dependency pytest-asyncio to ^0.25.0
  poetry.lock
  pyproject.toml
Due: none

refactor: remove references to codestral@2405
  ai_gateway/api/v2/code/completions.py
  ai_gateway/async_dependency_resolver.py
  ai_gateway/code_suggestions/base.py
  ai_gateway/code_suggestions/container.py
  ai_gateway/models/litellm.py
  tests/api/v2/test_v2_code.py
  tests/code_suggestions/test_container.py
  tests/models/test_litellm.py
Due: lint, lint-code

feat: disable prompt caching for fireworks
  ai_gateway/models/litellm.py
  tests/models/test_litellm.py
Due: lint, lint-code

fix: update code generation prompt to ignore non-registered libraries
  ai_gateway/prompts/definitions/code_suggestions/generations/jinja_template/dotcom/system.jinja
Due: none

chore(deps): update dependency fastapi to v0.115.6
  poetry.lock
Due: none

chore(deps): update dependency langchain to v0.3.13
  poetry.lock
  pyproject.toml
Due: none

chore(deps): update dependency litellm to v1.55.4
  poetry.lock
  pyproject.toml
Due: none

fix(bug): fix codestral model for code suggestions
  ai_gateway/prompts/definitions/code_suggestions/completions/codestral.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/codestral_system.jinja
  ai_gateway/prompts/definitions/code_suggestions/generations/codestral.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/jinja_template/self_hosted/system_codestral.jinja
  ai_gateway/prompts/definitions/code_suggestions/generations/jinja_template/self_hosted/user_codestral.jinja
Due: none

chore(deps): update dependency pydantic to v2.10.4
  poetry.lock
Due: none

chore(deps): align Python 3.11.11 in CI and Docker
  .gitlab-ci.yml
  Dockerfile
Due: none

chore: introduce PCL
  .gitlab/ci/ingest.gitlab-ci.yml
  .gitlab/ci/release.gitlab-ci.yml
  README.md
Due: lint-doc

feat: add feature flags to suggestions responses
  ai_gateway/api/v2/code/completions.py
  ai_gateway/api/v2/code/typing.py
  ai_gateway/api/v3/code/completions.py
  ai_gateway/api/v3/code/typing.py
  ai_gateway/api/v4/code/suggestions.py
  tests/api/v2/test_v2_code.py
  tests/api/v3/test_v3_code.py
  tests/api/v4/test_v4_code.py
Due: lint, lint-code

Revert "Merge branch '556/sq/add-feat-flags-to-suggestions-responses' into 'main'"
  .gitlab/ci/ingest.gitlab-ci.yml
  .gitlab/ci/release.gitlab-ci.yml
  README.md
  ai_gateway/api/v2/code/completions.py
  ai_gateway/api/v2/code/typing.py
  ai_gateway/api/v3/code/completions.py
  ai_gateway/api/v3/code/typing.py
  ai_gateway/api/v4/code/suggestions.py
  tests/api/v2/test_v2_code.py
  tests/api/v3/test_v3_code.py
  tests/api/v4/test_v4_code.py
Due: lint, lint-code, lint-doc

chore: reintroduce PCL after previous revert
  .gitlab/ci/ingest.gitlab-ci.yml
  .gitlab/ci/release.gitlab-ci.yml
  README.md
Due: lint-doc

chore(deps): update dependency pyfakefs to v5.7.3
  poetry.lock
Due: none

chore(deps): update dependency transformers to v4.47.1
  poetry.lock
Due: none

chore(deps): update dependency evilmartians/lefthook to v1.10.0
  .tool-versions
Due: none

chore(deps): update dependency google-cloud-aiplatform to v1.75.0
  poetry.lock
Due: none

chore(deps): update dependency mypy to v1.14.0
  poetry.lock
Due: none

chore(deps): update dependency litellm to v1.55.9
  poetry.lock
Due: none

chore(deps): update dependency astroid to v3.3.8
  poetry.lock
Due: none

chore(deps): update dependency danger-review to v2
  .gitlab-ci.yml
Due: none

chore(deps): update dependency evilmartians/lefthook to v1.10.1
  .tool-versions
Due: none

chore(deps): update dependency pylint to v3.3.3
  poetry.lock
Due: none

chore(deps): update dependency sse-starlette to v2.2.1
  poetry.lock
Due: none

chore(deps): update poetry 1.8.5 in CI and Docker
  .gitlab-ci.yml
  Dockerfile
Due: none

chore(deps): update dependency jinja2 to v3.1.5
  poetry.lock
Due: none

chore(deps): update dependency uvicorn to ^0.34.0
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  lint: any of: *.py
  lint-code: any of: *.py
  lint-doc: any of: *.md
