Repository renovate-bot/khulnasoft-lab-_-ai-assist: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-code, lint-doc

lint:
  run: make lint-code LINT_WORKING_DIR={staged_files}

lint-code:
  run: make lint-code

lint-doc:
  run: make lint-doc

feat: adds option to disable streaming on LiteLLM
  ai_gateway/config.py
  ai_gateway/models/container.py
  ai_gateway/models/litellm.py
  example.env
  tests/models/test_litellm.py
Due: lint, lint-code

fix: AttributeError in snowplow_context
  ai_gateway/api/snowplow_context.py
  tests/api/test_snowplow_context.py
Due: lint, lint-code

feat: don't process unsupported tools
  ai_gateway/chat/agents/react.py
  ai_gateway/chat/executor.py
  tests/chat/test_agent_react.py
  tests/chat/test_gl_agent_remote.py
Due: lint, lint-code

chore(docs): add examples to code completion request schema
  ai_gateway/api/v3/code/typing.py
Due: lint, lint-code

fix: merge request reader not working on mistral
  ai_gateway/api/v2/chat/agent.py
  ai_gateway/chat/agents/react.py
  ai_gateway/prompts/definitions/chat/merge_request_reader/assistant_mistral.jinja
  ai_gateway/prompts/definitions/chat/merge_request_reader/mistral.yml
  ai_gateway/prompts/definitions/chat/merge_request_reader/system_mistral.jinja
  ai_gateway/prompts/definitions/chat/merge_request_reader/user_mistral.jinja
Due: lint, lint-code

feat: add local_git additional context category to chat
  ai_gateway/chat/agents/typing.py
Due: lint, lint-code

fix: adds disable streaming for v2 chat
  ai_gateway/prompts/base.py
  ai_gateway/prompts/container.py
  ai_gateway/prompts/registry.py
  tests/prompts/test_container.py
  tests/prompts/test_registry.py
Due: lint, lint-code

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.49.0
  .gitlab/ci/ingest.gitlab-ci.yml
Due: none

chore: allow Cloud Connector package minor updates
  poetry.lock
  pyproject.toml
Due: none

chore: separate the mixtral from mistral prompts
  ai_gateway/prompts/definitions/chat/build_reader/mixtral.yml
  ai_gateway/prompts/definitions/chat/commit_reader/mixtral.yml
  ai_gateway/prompts/definitions/chat/epic_reader/mixtral.yml
  ai_gateway/prompts/definitions/chat/explain_code/mixtral.yml
  ai_gateway/prompts/definitions/chat/explain_vulnerability/mixtral.yml
  ai_gateway/prompts/definitions/chat/fix_code/mixtral.yml
  ai_gateway/prompts/definitions/chat/issue_reader/mixtral.yml
  ai_gateway/prompts/definitions/chat/merge_request_reader/mixtral.yml
  ai_gateway/prompts/definitions/chat/react/mixtral.yml
  ai_gateway/prompts/definitions/chat/refactor_code/mixtral.yml
  ai_gateway/prompts/definitions/chat/summarize_comments/mixtral.yml
  ai_gateway/prompts/definitions/chat/troubleshoot_job/mixtral.yml
  ai_gateway/prompts/definitions/chat/write_tests/mixtral.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/mixtral.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/mixtral.yml
Due: none

fix: fixes build_reader and commit_reader on mistral
  ai_gateway/prompts/definitions/chat/build_reader/assistant_mistral.jinja
  ai_gateway/prompts/definitions/chat/build_reader/mistral.yml
  ai_gateway/prompts/definitions/chat/build_reader/system_mistral.jinja
  ai_gateway/prompts/definitions/chat/build_reader/user_mistral.jinja
  ai_gateway/prompts/definitions/chat/commit_reader/assistant_mistral.jinja
  ai_gateway/prompts/definitions/chat/commit_reader/mistral.yml
  ai_gateway/prompts/definitions/chat/commit_reader/system_mistral.jinja
  ai_gateway/prompts/definitions/chat/commit_reader/user_mistral.jinja
Due: none

feat(glgo): add glgo token fetcher
  ai_gateway/async_dependency_resolver.py
  ai_gateway/auth/container.py
  ai_gateway/auth/glgo.py
  ai_gateway/config.py
  conftest.py
  example.env
  tests/_assets/keys/public_key.pem
  tests/_assets/keys/signing_key.pem
  tests/auth/test_glgo.py
  tests/test_config.py
Due: lint, lint-code

feat: measure a comment temperature prompt definition
  ai_gateway/prompts/definitions/measure_comment_temperature/base.yml
  poetry.lock
  pyproject.toml
Due: none

feat(q): add vendored dev boto3 dependency
  .gitignore
  Dockerfile
  poetry.lock
  pyproject.toml
  scripts/ingest/Dockerfile
  vendor/q_developer_boto3-1.2.0-py3-none-any.whl
Due: none

chore(deps): update dependency langchain to v0.3.10
  poetry.lock
Due: none

chore(deps): update dependency poetry to v1.8.5
  .tool-versions
Due: none

chore(deps): update dependency prometheus-client to v0.21.1
  poetry.lock
Due: none

chore(deps): update dependency pyfakefs to v5.7.2
  poetry.lock
Due: none

chore(deps): update dependency pylint to v3.3.2
  poetry.lock
Due: none

chore(deps): update dependency pytest to v8.3.4
  poetry.lock
Due: none

chore(deps): update dependency python to v3.11.11
  .tool-versions
Due: none

chore(deps): update dependency python/cpython to v3.11.11
  .tool-versions
Due: none

chore(deps): update dependency google-cloud-aiplatform to v1.74.0
  poetry.lock
Due: none

chore(deps): update dependency transformers to v4.47.0
  poetry.lock
Due: none

chore(deps): update dependency dependency-injector to v4.44.0
  poetry.lock
Due: none

chore(deps): update dependency litellm to v1.54.0
  poetry.lock
Due: none

chore: release nightly docker images for self-hosted
  .gitlab-ci.yml
  .gitlab/ci/release.gitlab-ci.yml
Due: none

fix: fixes dockerhub nightly deployment
  .gitlab-ci.yml
Due: none

chore(deps): update dependency evilmartians/lefthook to v1.9.0
  .tool-versions
Due: none

feat: use http session with Fireworks API
  ai_gateway/config.py
  ai_gateway/models/container.py
  ai_gateway/models/litellm.py
  tests/models/test_container.py
  tests/models/test_litellm.py
  tests/test_config.py
Due: lint, lint-code

chore: document that gitlab-ai-framework-prod is managed through terraform
  README.md
Due: lint-doc

feat(q): add an endpoint for oauth application
  ai_gateway/api/v1/__init__.py
  ai_gateway/api/v1/amazon_q/__init__.py
  ai_gateway/api/v1/amazon_q/application.py
  ai_gateway/api/v1/amazon_q/typing.py
  ai_gateway/async_dependency_resolver.py
  ai_gateway/config.py
  ai_gateway/container.py
  ai_gateway/integrations/amazon_q/client.py
  ai_gateway/integrations/amazon_q/errors.py
  ai_gateway/integrations/container.py
  ai_gateway/tracking/errors.py
  example.env
  tests/api/v1/test_v1_application.py
  tests/integrations/amazon_q/test_client.py
  tests/test_config.py
Due: lint, lint-code

fix: reenable AI Gateway default anthropic-on-vertex staging prompts
  .runway/env-staging.yml
  ai_gateway/prompts/definitions/chat/react/vertex.yml
Due: none

feat(q): add an endpoint for sending events
  ai_gateway/api/v1/amazon_q/__init__.py
  ai_gateway/api/v1/amazon_q/events.py
  ai_gateway/api/v1/amazon_q/typing.py
  ai_gateway/integrations/amazon_q/client.py
  ai_gateway/integrations/amazon_q/errors.py
  tests/api/v1/test_v1_application.py
  tests/api/v1/test_v1_events.py
  tests/integrations/amazon_q/test_client.py
Due: lint, lint-code

fix: fixes streaming for mistral
  ai_gateway/prompts/definitions/chat/react/system_mistral.jinja
Due: none

feat: add a startup probe for Fireworks and separate Fireworks environments
  .runway/env-staging.yml
  ai_gateway/api/monitoring.py
  example.env
  tests/api/test_monitoring.py
Due: lint, lint-code

feat: update the chat output_token to 8_192
  ai_gateway/prompts/definitions/chat/react/base.yml
Due: none

feat: model configuration check prompts
  ai_gateway/api/v1/prompts/invoke.py
  ai_gateway/prompts/definitions/model_configuration/check/claude_3.yml
  ai_gateway/prompts/definitions/model_configuration/check/codegemma.yml
  ai_gateway/prompts/definitions/model_configuration/check/codellama.yml
  ai_gateway/prompts/definitions/model_configuration/check/codestral.yml
  ai_gateway/prompts/definitions/model_configuration/check/deepseekcoder.yml
  ai_gateway/prompts/definitions/model_configuration/check/gpt.yml
  ai_gateway/prompts/definitions/model_configuration/check/llama3.yml
  ai_gateway/prompts/definitions/model_configuration/check/mistral.yml
  ai_gateway/prompts/definitions/model_configuration/check/mixtral.yml
  ai_gateway/prompts/definitions/model_configuration/check/system.jinja
  ai_gateway/prompts/definitions/model_configuration/check/user.jinja
  tests/api/v1/test_v1_prompts.py
Due: lint, lint-code

fix(bug): authorize mixtral models for code suggestions
  ai_gateway/code_suggestions/base.py
  ai_gateway/models/litellm.py
  ai_gateway/prompts/definitions/code_suggestions/completions/mixtral.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/mixtral.yml
Due: lint, lint-code

feat(q): provide q related configuration
  .runway/env-production.yml
  .runway/env-staging.yml
  ai_gateway/api/v1/amazon_q/application.py
  ai_gateway/api/v1/amazon_q/events.py
  poetry.lock
  pyproject.toml
  tests/api/v1/test_v1_application.py
  tests/api/v1/test_v1_events.py
Due: lint, lint-code

Path conditions:
  lint: any of: *.py
  lint-code: any of: *.py
  lint-doc: any of: *.md
