Repository renovate-bot/khulnasoft-lab-_-ai-assist: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-code, lint-doc

lint:
  run: make lint-code LINT_WORKING_DIR={staged_files}

lint-code:
  run: make lint-code LINT_WORKING_DIR={staged_files}

lint-doc:
  run: make lint-doc LINT_DOC_WORKING_DIR={staged_files}

chore(deps): update dependency evilmartians/lefthook to v1.7.17
  .tool-versions
Due: none

chore(deps): update dependency pylint to v3.3.1
  poetry.lock
Due: none

chore(deps): update dependency google-cloud-aiplatform to v1.68.0
  poetry.lock
Due: none

chore(deps): update dependency transformers to v4.45.1
  poetry.lock
Due: none

chore(deps): update dependency uvicorn to ^0.31.0
  poetry.lock
  pyproject.toml
Due: none

chore(deps): update dependency litellm to v1.48.6
  poetry.lock
Due: none

chore(deps): update dependency levenshtein to ^0.26.0
  poetry.lock
  pyproject.toml
Due: none

feat: allow chat to retry some errors
  ai_gateway/chat/agents/react.py
  ai_gateway/chat/agents/typing.py
  tests/chat/test_agent_react.py
Due: lint, lint-code

fix(chat): missing thought prefill in the last assistant message
  ai_gateway/prompts/definitions/chat/react/assistant.jinja
Due: none

docs: document SQLite3 dependency
  README.md
Due: lint-doc

fix(prompts): update summarize comments prompt
  ai_gateway/prompts/definitions/chat/summarize_comments/system.jinja
  ai_gateway/prompts/definitions/chat/summarize_comments/user.jinja
Due: none

chore: default minimum Python version for pylint
  pyproject.toml
Due: none

feat: support pipeline job context in Duo Chat
  ai_gateway/chat/agents/typing.py
  ai_gateway/chat/tools/gitlab.py
  ai_gateway/chat/toolset.py
  ai_gateway/feature_flags/context.py
  ai_gateway/gitlab_features.py
  ai_gateway/prompts/definitions/chat/build_reader/base.yml
  tests/chat/test_toolset.py
Due: lint, lint-code

feat(flags): introduce disallowed flags config
  .runway/env-production.yml
  ai_gateway/api/middleware.py
  ai_gateway/api/server.py
  ai_gateway/config.py
  ai_gateway/feature_flags/context.py
  docs/feature_flags.md
  example.env
  tests/api/test_middleware.py
  tests/api/test_server.py
  tests/code_suggestions/test_authentication.py
  tests/feature_flags/test_context.py
Due: lint, lint-code, lint-doc

feat: adds support for private cloud provider
  ai_gateway/api/v2/code/completions.py
  ai_gateway/api/v2/code/typing.py
  ai_gateway/code_suggestions/base.py
  ai_gateway/models/base.py
  ai_gateway/models/litellm.py
  ai_gateway/prompts/base.py
  ai_gateway/prompts/definitions/chat/react/claude_3.yml
  ai_gateway/prompts/typing.py
  tests/api/v2/test_v2_code.py
  tests/models/test_litellm.py
  tests/prompts/test_prompt.py
  tests/prompts/test_registry.py
Due: lint, lint-code

chore: migrate context_block, libraries_block, user_instruction
  ai_gateway/prompts/base.py
  ai_gateway/prompts/definitions/code_suggestions/generations/base.yml
  tests/api/v3/test_v3_code.py
Due: lint, lint-code

feat: add support for GPT models for code generation
  ai_gateway/code_suggestions/base.py
  ai_gateway/models/litellm.py
  ai_gateway/prompts/definitions/code_suggestions/generations/gpt.yml
Due: lint, lint-code

chore: sync vertex.yml params with base.yml
  ai_gateway/prompts/definitions/chat/react/vertex.yml
Due: none

feat: v2 endpoint supports MR questions on Duo Chat
  ai_gateway/chat/tools/gitlab.py
  ai_gateway/chat/toolset.py
  ai_gateway/feature_flags/context.py
  ai_gateway/gitlab_features.py
  ai_gateway/prompts/definitions/chat/merge_request_reader/base.yml
  tests/chat/test_toolset.py
Due: lint, lint-code

chore(log): log probe endpoint access
  ai_gateway/api/server.py
  tests/api/test_server.py
Due: lint, lint-code

chore: update linting tools and configuration
  .gitlab/ci/lint.gitlab-ci.yml
  .markdownlint-cli2.yaml
  docs/.vale/gitlab_base/InclusiveLanguage.yml
  docs/release.md
  docs/search.md
  docs/vscode.md
Due: lint-doc

chore(runway): bump runway to 3.43.3
  .gitlab-ci.yml
Due: none

feat: prompts for claude_3 - tools and generation
  ai_gateway/prompts/definitions/chat/build_reader/claude_3.yml
  ai_gateway/prompts/definitions/chat/commit_reader/claude_3.yml
  ai_gateway/prompts/definitions/chat/explain_code/claude_3.yml
  ai_gateway/prompts/definitions/chat/explain_vulnerability/claude_3.yml
  ai_gateway/prompts/definitions/chat/refactor_code/claude_3.yml
  ai_gateway/prompts/definitions/chat/summarize_comments/claude_3.yml
  ai_gateway/prompts/definitions/chat/write_tests/claude_3.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/claude_3.yml
  ai_gateway/prompts/definitions/generate_description/claude_3.yml
Due: none

chore: automate tagging with gitlab version in release pipeline
  .gitlab-ci.yml
Due: none

fix: adds private provider support for v1/chat/
  ai_gateway/api/v1/chat/agent.py
  ai_gateway/api/v1/chat/typing.py
Due: lint, lint-code

chore(test): stub network requests on tests
  conftest.py
  tests/api/v1/test_v1_proxy_anthropic.py
  tests/api/v1/test_v1_proxy_vertex_ai.py
Due: lint, lint-code

chore(deps): update dependency astroid to v3.3.5
  poetry.lock
Due: none

chore(deps): update dependency evilmartians/lefthook to v1.7.18
  .tool-versions
Due: none

chore(deps): update dependency anthropic to ^0.35.0
  poetry.lock
  pyproject.toml
Due: none

chore(deps): update dependency google-cloud-aiplatform to v1.69.0
  poetry.lock
Due: none

chore(deps): exclude markdownlint from renovate
  renovate.json
Due: none

chore(deps): update dependency litellm to v1.48.17
  poetry.lock
Due: none

feat(runway): deploy ai-gateway-custom
  .gitlab-ci.yml
  .runway/ai-gateway-custom/env-production.yml
  .runway/ai-gateway-custom/env-staging.yml
  .runway/ai-gateway-custom/runway.yml
Due: none

fix(runway): change owner-email-handle for ai-gateway-custom
  .runway/ai-gateway-custom/runway.yml
Due: none

feat(chat): allow v2 chat agent to receive messages with context
  ai_gateway/api/v2/chat/agent.py
  ai_gateway/api/v2/chat/typing.py
  ai_gateway/chat/agents/react.py
  ai_gateway/chat/agents/typing.py
  ai_gateway/chat/executor.py
  ai_gateway/prompts/base.py
  ai_gateway/prompts/definitions/chat/react/assistant.jinja
  ai_gateway/prompts/definitions/chat/react/partials/additional_context.jinja
  ai_gateway/prompts/definitions/chat/react/partials/agent_scratchpad.jinja
  ai_gateway/prompts/definitions/chat/react/partials/context.jinja
  ai_gateway/prompts/definitions/chat/react/partials/current_file.jinja
  ai_gateway/prompts/definitions/chat/react/system.jinja
  ai_gateway/prompts/definitions/chat/react/user.jinja
  tests/api/v1/test_v1_prompts.py
  tests/chat/test_agent_react.py
  tests/chat/test_gl_agent_remote.py
  tests/prompts/test_container.py
Due: lint, lint-code

fix(runway): specify delays for startup probe
  .runway/ai-gateway-custom/runway.yml
Due: none

feat: add work item to EpicReader tool
  ai_gateway/chat/tools/gitlab.py
Due: lint, lint-code

chore: align vertex.yml templates with base.yml
  ai_gateway/prompts/definitions/chat/react/vertex.yml
Due: none

feat: remove tailing </new_code> in LLM response
  ai_gateway/prompts/definitions/code_suggestions/generations/base.yml
  tests/prompts/test_registry.py
Due: lint, lint-code

Revert "Merge branch 'refactor-v2-chat-messages' into 'main'"
  ai_gateway/api/v2/chat/agent.py
  ai_gateway/api/v2/chat/typing.py
  ai_gateway/chat/agents/react.py
  ai_gateway/chat/agents/typing.py
  ai_gateway/chat/executor.py
  ai_gateway/prompts/base.py
  ai_gateway/prompts/definitions/chat/react/assistant.jinja
  ai_gateway/prompts/definitions/chat/react/partials/additional_context.jinja
  ai_gateway/prompts/definitions/chat/react/partials/agent_scratchpad.jinja
  ai_gateway/prompts/definitions/chat/react/partials/context.jinja
  ai_gateway/prompts/definitions/chat/react/partials/current_file.jinja
  ai_gateway/prompts/definitions/chat/react/system.jinja
  ai_gateway/prompts/definitions/chat/react/user.jinja
  tests/api/v1/test_v1_prompts.py
  tests/chat/test_agent_react.py
  tests/chat/test_gl_agent_remote.py
  tests/prompts/test_container.py
Due: lint, lint-code

Path conditions:
  lint: any of: *.py
  lint-code: any of: *.py
  lint-doc: any of: *.md
