Repository renovate-bot/khulnasoft-lab-_-ai-assist: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-code, lint-doc

lefthook.yaml:

pre-commit:
  parallel: true
  skip:
    - ref: main
  commands:
    lint:
      glob: "*.py"
      run: make lint-code LINT_WORKING_DIR={staged_files}

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - ref: main
  commands:
    lint-code:
      glob: "*.py"
      run: make lint-code
    lint-doc:
      glob: "*.md"
      run: make lint-doc

feat(ci): build self-hosted images every commit
  .gitlab-ci.yml
  .gitlab/ci/build.gitlab-ci.yml
Due: none

feat: split code_suggestions into smaller unit primitives
  ai_gateway/api/v1/code/user_access_token.py
  ai_gateway/api/v1/x_ray/libraries.py
  ai_gateway/api/v2/code/completions.py
  ai_gateway/api/v3/code/completions.py
  ai_gateway/cloud_connector/gitlab_features.py
  tests/api/v1/test_v1_code.py
  tests/api/v1/test_v1_xray_libraries.py
  tests/api/v2/test_v2_code.py
  tests/api/v2/test_v2_mocks.py
  tests/api/v3/test_v3_code.py
Due: lint, lint-code

feat: remove instant models from ai gateway
  ai_gateway/api/v1/x_ray/typing.py
  ai_gateway/code_suggestions/base.py
  ai_gateway/models/anthropic.py
  docs/api.md
  tests/api/v1/test_v1_xray_libraries.py
  tests/api/v2/test_v2_code.py
  tests/code_suggestions/models/test_anthropic.py
Due: lint, lint-code, lint-doc

chore: update poetry lock file
  .gitlab/ci/lint.gitlab-ci.yml
  poetry.lock
Due: none

feat: update Duo Chat token size to 8k
  ai_gateway/api/v1/chat/typing.py
  ai_gateway/models/anthropic.py
  ai_gateway/prompts/definitions/chat/react/base.yml
  tests/code_suggestions/models/test_anthropic.py
Due: lint, lint-code

Revert "Merge branch 'nw/token_size_8k' into 'main'"
  ai_gateway/api/v1/chat/typing.py
  ai_gateway/models/anthropic.py
  ai_gateway/prompts/definitions/chat/react/base.yml
  tests/code_suggestions/models/test_anthropic.py
Due: lint, lint-code

chore: remove legacy CS acceptance rate headers
  ai_gateway/api/middleware.py
  ai_gateway/api/server.py
  tests/code_suggestions/test_model_telemetry.py
Due: lint, lint-code

feat: remove CiEditorAssistant tool
  ai_gateway/chat/tools/gitlab.py
  ai_gateway/chat/toolset.py
  ai_gateway/feature_flags/context.py
  ai_gateway/prompts/definitions/chat/ci_editor_assistant/assistant.jinja
  ai_gateway/prompts/definitions/chat/ci_editor_assistant/base.yml
  ai_gateway/prompts/definitions/chat/ci_editor_assistant/claude_3.yml
  ai_gateway/prompts/definitions/chat/ci_editor_assistant/mistral.yml
  ai_gateway/prompts/definitions/chat/ci_editor_assistant/system.jinja
  ai_gateway/prompts/definitions/chat/ci_editor_assistant/user.jinja
  tests/chat/test_gl_agent_remote.py
  tests/chat/test_toolset.py
Due: lint, lint-code

chore: strip single quote from GCP service account key
  ai_gateway/api/server.py
Due: lint, lint-code

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.47.0
  .gitlab/ci/ingest.gitlab-ci.yml
Due: none

fix: model name checks in MAX_MODEL_LEN
  ai_gateway/models/litellm.py
  tests/models/test_litellm.py
Due: lint, lint-code

fix(log): api.access exception logging fields
  ai_gateway/api/middleware.py
  tests/code_suggestions/test_logging.py
Due: lint, lint-code

chore: clean up ai_build_reader_for_chat feature flag
  ai_gateway/chat/toolset.py
  ai_gateway/feature_flags/context.py
  ai_gateway/prompts/definitions/chat/build_reader/base.yml
  ai_gateway/prompts/definitions/chat/build_reader/claude_3.yml
  ai_gateway/prompts/definitions/chat/build_reader/mistral.yml
  tests/chat/test_gl_agent_remote.py
  tests/chat/test_toolset.py
Due: lint, lint-code

feat: use vertex as primary provider
  .runway/env-staging.yml
  example.env
Due: none

fix: json syntax in default prompts
  .runway/env-staging.yml
  example.env
Due: none

chore: update snowplow endpoint
  .runway/env-production.yml
Due: none

feat: add region telemetry data to code suggestions
  ai_gateway/api/snowplow_context.py
  ai_gateway/api/v2/code/completions.py
  ai_gateway/api/v3/code/completions.py
  ai_gateway/tracking/snowplow.py
  tests/api/v2/test_v2_code.py
  tests/api/v3/test_v3_code.py
  tests/code_suggestions/tracking/test_snowplow.py
Due: lint, lint-code

feat: drop code_suggestions unit primitive
  ai_gateway/api/v1/code/user_access_token.py
  ai_gateway/api/v1/x_ray/libraries.py
  ai_gateway/api/v2/code/completions.py
  ai_gateway/api/v3/code/completions.py
  ai_gateway/prompts/definitions/code_suggestions/completions/claude_3.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/codegemma.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/codellama.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/codestral.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/deepseekcoder.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/gpt.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/mistral.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/base.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/claude_3.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/codegemma.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/codellama.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/codestral.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/deepseekcoder.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/gpt.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/mistral.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/vertex.yml
  conftest.py
  docs/auth.md
  tests/api/v1/test_v1_code.py
  tests/api/v1/test_v1_xray_libraries.py
  tests/api/v2/test_v2_code.py
  tests/api/v2/test_v2_mocks.py
  tests/api/v3/test_v3_code.py
  tests/chat/test_toolset.py
  tests/cloud_connector/auth/test_auth_providers.py
  tests/cloud_connector/auth/test_user.py
  tests/prompts/test_base_registry.py
Due: lint, lint-code, lint-doc

feat: extract code gen prompt to a jinja template
  ai_gateway/prompts/definitions/code_suggestions/generations/base.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/claude_3.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/codegemma.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/codellama.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/codestral.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/deepseekcoder.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/gpt.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/jinja_template/dotcom/system.jinja
  ai_gateway/prompts/definitions/code_suggestions/generations/jinja_template/self_hosted/system.jinja
  ai_gateway/prompts/definitions/code_suggestions/generations/jinja_template/self_hosted/user.jinja
  ai_gateway/prompts/definitions/code_suggestions/generations/mistral.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/vertex.yml
  tests/prompts/test_registry.py
Due: lint, lint-code

feat: add regional fireworks endpoint support
  .runway/ai-gateway-custom/env-production.yml
  .runway/ai-gateway-custom/env-staging.yml
  .runway/env-production.yml
  .runway/env-staging.yml
  ai_gateway/config.py
  ai_gateway/models/litellm.py
  example.env
  tests/models/test_litellm.py
Due: lint, lint-code

fix: remove Vertex as default provider on Staging
  .runway/env-staging.yml
Due: none

chore(deps): update dependency boto3 to v1.35.63
  poetry.lock
Due: none

chore(deps): update dependency fastapi to v0.115.5
  poetry.lock
Due: none

chore(deps): update dependency google-cloud-discoveryengine to v0.13.4
  poetry.lock
Due: none

chore(deps): update dependency anthropic to ^0.39.0
  poetry.lock
  pyproject.toml
Due: none

chore(deps): update dependency google-cloud-aiplatform to v1.72.0
  poetry.lock
Due: none

chore: remove per-message prompt limits for Duo Chat
  ai_gateway/chat/agents/typing.py
  ai_gateway/models/base_chat.py
Due: lint, lint-code

chore(deps): update dependency langchain-anthropic to ^0.3.0
  poetry.lock
  pyproject.toml
Due: none

docs: add ai gateway and prompt registry docs
  docs/aigw_prompt_registry.md
  docs/duo_chat.md
Due: lint-doc

feat: gitlab connectivity check on troubleshooting
  ai_gateway/scripts/troubleshoot_selfhosted_installation.py
Due: lint, lint-code

fix: update completion tokens in metadata for litellm models
  ai_gateway/models/litellm.py
  conftest.py
  tests/models/test_litellm.py
Due: lint, lint-code

fix: fixes mistral usage of tools
  ai_gateway/api/v2/chat/agent.py
  ai_gateway/chat/agents/react.py
  ai_gateway/prompts/definitions/chat/epic_reader/assistant_mistral.jinja
  ai_gateway/prompts/definitions/chat/epic_reader/mistral.yml
  ai_gateway/prompts/definitions/chat/epic_reader/system_mistral.jinja
  ai_gateway/prompts/definitions/chat/epic_reader/user_mistral.jinja
Due: lint, lint-code

chore: remove cloud connector leftover tests
  tests/cloud_connector/__init__.py
  tests/cloud_connector/auth/__init__.py
  tests/cloud_connector/auth/self_signed_jwt/__init__.py
  tests/cloud_connector/auth/self_signed_jwt/test_token_authority.py
  tests/cloud_connector/auth/test_auth_providers.py
  tests/cloud_connector/auth/test_user.py
  tests/cloud_connector/test_cloud_connector.py
Due: lint, lint-code

chore: improve mistral prompt
  ai_gateway/prompts/definitions/chat/fix_code/mistral.yml
  ai_gateway/prompts/definitions/chat/fix_code/user_mistral.jinja
  ai_gateway/prompts/definitions/chat/refactor_code/mistral.yml
  ai_gateway/prompts/definitions/chat/refactor_code/user_mistral.jinja
Due: none

feat: introduce v4 code suggestions endpoint based on v3
  ai_gateway/api/server.py
  ai_gateway/api/v3/code/completions.py
  ai_gateway/api/v3/code/typing.py
  ai_gateway/api/v4/__init__.py
  ai_gateway/api/v4/code/__init__.py
  ai_gateway/api/v4/code/suggestions.py
  ai_gateway/container.py
  docs/api.md
  tests/api/test_server.py
  tests/api/v3/test_v3_code.py
  tests/api/v4/test_v4_code.py
Due: lint, lint-code, lint-doc

fix: fixes mistral usage of issue reader
  ai_gateway/prompts/definitions/chat/issue_reader/assistant_mistral.jinja
  ai_gateway/prompts/definitions/chat/issue_reader/mistral.yml
  ai_gateway/prompts/definitions/chat/issue_reader/system_mistral.jinja
  ai_gateway/prompts/definitions/chat/issue_reader/user_mistral.jinja
Due: none

feat: support claude 3.5 sonnet models with anthropic and litellm
  ai_gateway/code_suggestions/base.py
  ai_gateway/models/anthropic.py
  ai_gateway/models/litellm.py
  tests/models/test_litellm.py
  tests/prompts/test_prompt.py
Due: lint, lint-code

docs: update the api doc to reflect the v3 code generation params
  docs/api.md
Due: lint-doc

fix: fixes import clashing
  ai_gateway/instrumentators/base.py
  ai_gateway/models/agent_model.py
  ai_gateway/models/anthropic.py
  ai_gateway/models/base_text.py
  ai_gateway/models/litellm.py
  ai_gateway/models/mock.py
  ai_gateway/models/vertex_text.py
  ai_gateway/safety_attributes.py
  conftest.py
  tests/code_suggestions/models/test_anthropic.py
  tests/code_suggestions/models/test_mock.py
  tests/code_suggestions/models/test_palm.py
  tests/code_suggestions/test_completions.py
  tests/code_suggestions/test_engine.py
  tests/code_suggestions/test_generation.py
  tests/code_suggestions/test_instrumentators.py
Due: lint, lint-code
