Repository renovate-bot/khulnasoft-lab-_-ai-assist: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-code, lint-doc

lint:
  run: make lint-code LINT_WORKING_DIR={staged_files}

lint-code:
  run: make lint-code LINT_WORKING_DIR={staged_files}

lint-doc:
  run: make lint-doc LINT_DOC_WORKING_DIR={staged_files}

refactor(chat): remove unnecessary parameters v2
  ai_gateway/api/v2/chat/agent.py
  ai_gateway/api/v2/chat/typing.py
  ai_gateway/chat/agents/react.py
  ai_gateway/chat/executor.py
  ai_gateway/prompts/base.py
  ai_gateway/prompts/definitions/chat/react/assistant.jinja
  ai_gateway/prompts/definitions/chat/react/system.jinja
  ai_gateway/prompts/definitions/chat/react/user.jinja
  tests/api/v1/test_v1_prompts.py
  tests/api/v2/test_v2_chat_agent.py
  tests/chat/test_agent_react.py
  tests/chat/test_gl_agent_remote.py
  tests/prompts/test_container.py
Due: lint, lint-code

feat: add completion prompt for claude 3
  ai_gateway/prompts/definitions/code_suggestions/completions/claude_3.yml
Due: none

feat: add GPT prompt for code completion
  ai_gateway/code_suggestions/base.py
  ai_gateway/prompts/definitions/code_suggestions/completions/gpt.yml
Due: lint, lint-code

fix(prompts): fix prompts for write tests
  ai_gateway/prompts/definitions/chat/write_tests/base.yml
  ai_gateway/prompts/definitions/chat/write_tests/claude_3.yml
  ai_gateway/prompts/definitions/chat/write_tests/mistral.yml
Due: none

fix: don't log cached JWKSs
  ai_gateway/cloud_connector/providers.py
  tests/cloud_connector/auth/test_auth_providers.py
Due: lint, lint-code

chore(deps): update dependency anthropic to v0.36.2
  poetry.lock
Due: none

chore(deps): update dependency asgi-correlation-id to v4.3.4
  poetry.lock
Due: none

chore(deps): update dependency boto3 to v1.35.44
  poetry.lock
Due: none

chore(deps): update dependency evilmartians/lefthook to v1.7.22
  .tool-versions
Due: none

chore(deps): update dependency langchain-anthropic to v0.2.3
  poetry.lock
Due: none

chore(deps): update dependency langchain-community to v0.3.3
  poetry.lock
Due: none

chore(deps): update dependency pyfakefs to v5.7.1
  poetry.lock
Due: none

chore(deps): update dependency pydantic-settings to v2.6.0
  poetry.lock
Due: none

chore(deps): update dependency litellm to v1.50.0
  poetry.lock
Due: none

chore(deps): update dependency mypy to v1.12.1
  poetry.lock
Due: none

fix: update code generation base template to match updated input from rails
  ai_gateway/prompts/definitions/code_suggestions/generations/base.yml
  tests/prompts/test_registry.py
Due: lint, lint-code

feat: add post-processing for suggestions with meaningless asterisks
  ai_gateway/code_suggestions/container.py
  ai_gateway/code_suggestions/processing/post/completions.py
  ai_gateway/code_suggestions/processing/post/ops.py
  tests/code_suggestions/post_processing/test_post_processor_completions.py
  tests/code_suggestions/post_processing/test_strip_asterisks.py
Due: lint, lint-code

chore(deps): update dependency poetry to v1.8.4
  .gitlab-ci.yml
  .tool-versions
  Dockerfile
Due: none

feat(prompts): add missing prompts for duo chat tools
  ai_gateway/prompts/definitions/chat/build_reader/assistant.jinja
  ai_gateway/prompts/definitions/chat/build_reader/claude_3.yml
  ai_gateway/prompts/definitions/chat/build_reader/mistral.yml
  ai_gateway/prompts/definitions/chat/build_reader/system.jinja
  ai_gateway/prompts/definitions/chat/build_reader/user.jinja
  ai_gateway/prompts/definitions/chat/commit_reader/assistant.jinja
  ai_gateway/prompts/definitions/chat/commit_reader/base.yml
  ai_gateway/prompts/definitions/chat/commit_reader/mistral.yml
  ai_gateway/prompts/definitions/chat/commit_reader/system.jinja
  ai_gateway/prompts/definitions/chat/commit_reader/user.jinja
  ai_gateway/prompts/definitions/chat/fix_code/claude_3.yml
  ai_gateway/prompts/definitions/chat/merge_request_reader/assistant.jinja
  ai_gateway/prompts/definitions/chat/merge_request_reader/claude_3.yml
  ai_gateway/prompts/definitions/chat/merge_request_reader/mistral.yml
  ai_gateway/prompts/definitions/chat/merge_request_reader/system.jinja
  ai_gateway/prompts/definitions/chat/merge_request_reader/user.jinja
Due: none

feat: introduce Issue Reader and Epic Reader prompts in AIGW
  ai_gateway/gitlab_features.py
  ai_gateway/prompts/definitions/chat/epic_reader/assistant.jinja
  ai_gateway/prompts/definitions/chat/epic_reader/base.yml
  ai_gateway/prompts/definitions/chat/epic_reader/claude_3.yml
  ai_gateway/prompts/definitions/chat/epic_reader/mistral.yml
  ai_gateway/prompts/definitions/chat/epic_reader/system.jinja
  ai_gateway/prompts/definitions/chat/epic_reader/user.jinja
  ai_gateway/prompts/definitions/chat/issue_reader/assistant.jinja
  ai_gateway/prompts/definitions/chat/issue_reader/base.yml
  ai_gateway/prompts/definitions/chat/issue_reader/claude_3.yml
  ai_gateway/prompts/definitions/chat/issue_reader/mistral.yml
  ai_gateway/prompts/definitions/chat/issue_reader/system.jinja
  ai_gateway/prompts/definitions/chat/issue_reader/user.jinja
Due: lint, lint-code

feat(prompts): change up of merge request reader tool
  ai_gateway/prompts/definitions/chat/merge_request_reader/base.yml
  ai_gateway/prompts/definitions/chat/merge_request_reader/claude_3.yml
  ai_gateway/prompts/definitions/chat/merge_request_reader/mistral.yml
Due: none

chore(deps): update dependency starlette to ^0.40.0
  poetry.lock
  pyproject.toml
Due: none

chore(deps): update dependency uvicorn to ^0.32.0
  poetry.lock
  pyproject.toml
Due: none

chore: improves script structure within aigw
  ai_gateway/scripts/__init__.py
  ai_gateway/scripts/index_docs_as_sqlite.py
  ai_gateway/scripts/troubleshoot_selfhosted_installation.py
  docker/self_hosted/Dockerfile
  docs/search.md
  pyproject.toml
Due: lint, lint-code, lint-doc

fix: reuse existing unit primitives for issue & epic reader
  ai_gateway/gitlab_features.py
  ai_gateway/prompts/definitions/chat/epic_reader/base.yml
  ai_gateway/prompts/definitions/chat/epic_reader/claude_3.yml
  ai_gateway/prompts/definitions/chat/epic_reader/mistral.yml
  ai_gateway/prompts/definitions/chat/issue_reader/base.yml
  ai_gateway/prompts/definitions/chat/issue_reader/claude_3.yml
  ai_gateway/prompts/definitions/chat/issue_reader/mistral.yml
Due: lint, lint-code

feat(prompts): add prompts for ci editor assistant
  ai_gateway/prompts/definitions/chat/ci_editor_assistant/assistant.jinja
  ai_gateway/prompts/definitions/chat/ci_editor_assistant/base.yml
  ai_gateway/prompts/definitions/chat/ci_editor_assistant/claude_3.yml
  ai_gateway/prompts/definitions/chat/ci_editor_assistant/mistral.yml
  ai_gateway/prompts/definitions/chat/ci_editor_assistant/system.jinja
  ai_gateway/prompts/definitions/chat/ci_editor_assistant/user.jinja
Due: none

feat(react): discard `gitlab_documentation` tool temporarily
  ai_gateway/prompts/definitions/chat/react/claude_3.yml
Due: none

feat(prompts): add prompts for troubleshoot job
  ai_gateway/prompts/definitions/chat/troubleshoot_job/base.yml
  ai_gateway/prompts/definitions/chat/troubleshoot_job/claude_3.yml
  ai_gateway/prompts/definitions/chat/troubleshoot_job/mistral.yml
  ai_gateway/prompts/definitions/chat/troubleshoot_job/system.jinja
  ai_gateway/prompts/definitions/chat/troubleshoot_job/user.jinja
Due: none

feat(prompts): change anthropic model in yml files
  ai_gateway/prompts/definitions/chat/build_reader/base.yml
  ai_gateway/prompts/definitions/chat/build_reader/claude_3.yml
  ai_gateway/prompts/definitions/chat/commit_reader/base.yml
  ai_gateway/prompts/definitions/chat/commit_reader/claude_3.yml
  ai_gateway/prompts/definitions/chat/epic_reader/base.yml
  ai_gateway/prompts/definitions/chat/epic_reader/claude_3.yml
  ai_gateway/prompts/definitions/chat/explain_code/base.yml
  ai_gateway/prompts/definitions/chat/explain_code/claude_3.yml
  ai_gateway/prompts/definitions/chat/explain_vulnerability/base.yml
  ai_gateway/prompts/definitions/chat/explain_vulnerability/claude_3.yml
  ai_gateway/prompts/definitions/chat/issue_reader/base.yml
  ai_gateway/prompts/definitions/chat/issue_reader/claude_3.yml
  ai_gateway/prompts/definitions/chat/merge_request_reader/base.yml
  ai_gateway/prompts/definitions/chat/merge_request_reader/claude_3.yml
  ai_gateway/prompts/definitions/chat/refactor_code/base.yml
  ai_gateway/prompts/definitions/chat/refactor_code/claude_3.yml
  ai_gateway/prompts/definitions/chat/summarize_comments/base.yml
  ai_gateway/prompts/definitions/chat/summarize_comments/claude_3.yml
  ai_gateway/prompts/definitions/chat/write_tests/base.yml
  ai_gateway/prompts/definitions/chat/write_tests/claude_3.yml
  ai_gateway/prompts/definitions/generate_description/base.yml
  ai_gateway/prompts/definitions/generate_description/claude_3.yml
Due: none

chore: remove analyze_ci_job_failure experimental feature
  ai_gateway/gitlab_features.py
  conftest.py
  tests/prompts/test_base_registry.py
Due: lint, lint-code

feat(cloud connector): parametrize ai gw params and move it out of cc
  .gitlab-ci.yml
  .runway/ai-gateway-custom/env-production.yml
  .runway/ai-gateway-custom/env-staging.yml
  .runway/env-production.yml
  .runway/env-staging.yml
  Dockerfile
  ai_gateway/api/snowplow_context.py
  ai_gateway/api/v1/code/user_access_token.py
  ai_gateway/api/v1/x_ray/libraries.py
  ai_gateway/api/v2/code/completions.py
  ai_gateway/api/v3/code/completions.py
  ai_gateway/cloud_connector/__init__.py
  ai_gateway/cloud_connector/auth.py
  ai_gateway/cloud_connector/config.py
  ai_gateway/cloud_connector/providers.py
  ai_gateway/cloud_connector/token_authority.py
  example.env
  tests/cloud_connector/auth/test_auth_providers.py
Due: lint, lint-code

chore: add gitlab_cloud_connector dependency
  poetry.lock
  pyproject.toml
Due: none

chore: update claude-3-5 to use claude-3-5-v2 version
  ai_gateway/models/anthropic.py
  ai_gateway/prompts/definitions/chat/ci_editor_assistant/base.yml
  ai_gateway/prompts/definitions/chat/ci_editor_assistant/claude_3.yml
  ai_gateway/prompts/definitions/chat/fix_code/base.yml
  ai_gateway/prompts/definitions/chat/fix_code/claude_3.yml
  ai_gateway/prompts/definitions/chat/react/base.yml
  ai_gateway/prompts/definitions/chat/react/claude_3.yml
  ai_gateway/prompts/definitions/chat/react/vertex.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/claude_3.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/base.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/claude_3.yml
  ai_gateway/prompts/definitions/summarize_review/base.yml
  ai_gateway/scripts/troubleshoot_selfhosted_installation.py
  docs/api.md
  tests/api/v1/test_v1_chat_agent.py
  tests/prompts/test_registry.py
Due: lint, lint-code, lint-doc

fix: system prompt for code completion for chatgpt
  ai_gateway/prompts/definitions/code_suggestions/completions/gpt.yml
Due: none

chore(log): log X-Gitlab-Feature-Enabled-By-Namespace-Ids header
  ai_gateway/api/middleware.py
  ai_gateway/instrumentators/model_requests.py
  tests/code_suggestions/test_authentication.py
  tests/code_suggestions/test_logging.py
Due: lint, lint-code

Revert "Merge branch 'nw/update-claude-3-5-versions' into 'main'"
  ai_gateway/models/anthropic.py
  ai_gateway/prompts/definitions/chat/ci_editor_assistant/base.yml
  ai_gateway/prompts/definitions/chat/ci_editor_assistant/claude_3.yml
  ai_gateway/prompts/definitions/chat/fix_code/base.yml
  ai_gateway/prompts/definitions/chat/fix_code/claude_3.yml
  ai_gateway/prompts/definitions/chat/react/base.yml
  ai_gateway/prompts/definitions/chat/react/claude_3.yml
  ai_gateway/prompts/definitions/chat/react/vertex.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/claude_3.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/base.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/claude_3.yml
  ai_gateway/prompts/definitions/summarize_review/base.yml
  ai_gateway/scripts/troubleshoot_selfhosted_installation.py
  docs/api.md
  tests/api/v1/test_v1_chat_agent.py
  tests/prompts/test_registry.py
Due: lint, lint-code, lint-doc

feat: add failover solution to code generation
  ai_gateway/api/v3/code/completions.py
  ai_gateway/prompts/definitions/code_suggestions/generations/vertex.yml
  example.env
  tests/prompts/test_registry.py
Due: lint, lint-code

fix: system prompt for code completion prompts and generations
  ai_gateway/prompts/definitions/code_suggestions/completions/claude_3.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/gpt.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/mistral.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/system.jinja
  ai_gateway/prompts/definitions/code_suggestions/generations/system.jinja
Due: none

feat: support claude 3.5 sonnet v2 backwards compatability
  ai_gateway/code_suggestions/base.py
  ai_gateway/models/anthropic.py
  ai_gateway/prompts/definitions/chat/ci_editor_assistant/base.yml
  ai_gateway/prompts/definitions/chat/ci_editor_assistant/claude_3.yml
  ai_gateway/prompts/definitions/chat/fix_code/base.yml
  ai_gateway/prompts/definitions/chat/fix_code/claude_3.yml
  ai_gateway/prompts/definitions/chat/react/base.yml
  ai_gateway/prompts/definitions/chat/react/claude_3.yml
  ai_gateway/prompts/definitions/chat/react/vertex.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/claude_3.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/base.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/claude_3.yml
  ai_gateway/prompts/definitions/summarize_review/base.yml
  ai_gateway/scripts/troubleshoot_selfhosted_installation.py
  docs/api.md
  tests/api/v1/test_v1_chat_agent.py
  tests/prompts/test_registry.py
Due: lint, lint-code, lint-doc

feat: add prompt for resolve_vulnerability
  ai_gateway/prompts/definitions/resolve_vulnerability/base.yml
Due: none

Path conditions:
  lint: any of: *.py
  lint-code: any of: *.py
  lint-doc: any of: *.md
