Repository renovate-bot/khulnasoft-lab-_-ai-assist: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-code, lint-doc

lint:
  run: make lint-code LINT_WORKING_DIR={staged_files}

lint-code:
  run: make lint-code LINT_WORKING_DIR={staged_files}

lint-doc:
  run: make lint-doc LINT_DOC_WORKING_DIR={staged_files}

chore: downgrade Sonnet on GCP until we get access to the new model
  ai_gateway/prompts/definitions/chat/react/vertex.yml
Due: none

chore(deps): update dependency evilmartians/lefthook to v1.8.1
  .tool-versions
Due: none

chore(deps): update dependency mypy to v1.13.0
  poetry.lock
Due: none

chore(deps): update dependency pytest-randomly to v3.16.0
  poetry.lock
Due: none

chore(deps): update dependency starlette to ^0.41.0
  poetry.lock
  pyproject.toml
Due: none

chore(deps): update dependency litellm to v1.51.0
  poetry.lock
Due: none

fix(docs): update TODO issue link for internal events
  ai_gateway/config.py
Due: lint, lint-code

Revert "Merge branch 'reapply-claude-3-5-update' into 'main'"
  ai_gateway/code_suggestions/base.py
  ai_gateway/models/anthropic.py
  ai_gateway/prompts/definitions/chat/ci_editor_assistant/base.yml
  ai_gateway/prompts/definitions/chat/ci_editor_assistant/claude_3.yml
  ai_gateway/prompts/definitions/chat/fix_code/base.yml
  ai_gateway/prompts/definitions/chat/fix_code/claude_3.yml
  ai_gateway/prompts/definitions/chat/react/base.yml
  ai_gateway/prompts/definitions/chat/react/claude_3.yml
  ai_gateway/prompts/definitions/code_suggestions/completions/claude_3.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/base.yml
  ai_gateway/prompts/definitions/code_suggestions/generations/claude_3.yml
  ai_gateway/prompts/definitions/summarize_review/base.yml
  ai_gateway/scripts/troubleshoot_selfhosted_installation.py
  docs/api.md
  tests/api/v1/test_v1_chat_agent.py
  tests/prompts/test_registry.py
Due: lint, lint-code, lint-doc

feat(tracking): adding event definitions file to ai-gateway
  config/events/request_code_suggestions.yml
  config/events/request_documentation_search.yml
  config/events/request_duo_chat.yml
  config/events/request_explain_vulnerability.yml
  config/events/request_resolve_vulnerability.yml
  docs/internal_events.md
Due: lint-doc

chore(deps): update dependency google-cloud-discoveryengine to ^0.13.0
  poetry.lock
  pyproject.toml
Due: none

chore: fix mypy 'abstract' offence
  ai_gateway/cloud_connector/providers.py
Due: lint, lint-code

fix: allows aigw to be started as non-root
  Dockerfile
  docker/self_hosted/Dockerfile
Due: none

fix(doc): add details on staging-ref deployment
  README.md
Due: lint-doc

chore: move Unit Primitives into cloud_connector folder
  ai_gateway/api/auth_utils.py
  ai_gateway/api/feature_category.py
  ai_gateway/api/v1/chat/agent.py
  ai_gateway/api/v1/chat/auth.py
  ai_gateway/api/v1/code/user_access_token.py
  ai_gateway/api/v1/prompts/invoke.py
  ai_gateway/api/v1/proxy/anthropic.py
  ai_gateway/api/v1/proxy/request.py
  ai_gateway/api/v1/proxy/vertex_ai.py
  ai_gateway/api/v1/search/docs.py
  ai_gateway/api/v1/x_ray/libraries.py
  ai_gateway/api/v2/chat/agent.py
  ai_gateway/api/v2/code/completions.py
  ai_gateway/api/v3/code/completions.py
  ai_gateway/chat/base.py
  ai_gateway/chat/tools/base.py
  ai_gateway/chat/tools/gitlab.py
  ai_gateway/cloud_connector/__init__.py
  ai_gateway/cloud_connector/gitlab_features.py
  ai_gateway/cloud_connector/user.py
  ai_gateway/prompts/base.py
  ai_gateway/prompts/config/base.py
  conftest.py
  tests/api/test_feature_category.py
  tests/api/v1/test_v1_chat_agent.py
  tests/api/v1/test_v1_prompts.py
  tests/api/v1/test_v1_proxy_anthropic.py
  tests/api/v1/test_v1_proxy_vertex_ai.py
  tests/api/v2/test_v2_chat_agent.py
  tests/auth/test_request.py
  tests/chat/test_base.py
  tests/chat/test_toolset.py
  tests/cloud_connector/auth/test_user.py
  tests/prompts/test_base_registry.py
  tests/prompts/test_prompt.py
Due: lint, lint-code

Revert "Merge branch 'custom_models/500137-cant-run-as-non-root' into 'main'"
  Dockerfile
  docker/self_hosted/Dockerfile
Due: none

feat: block request logging when expanded_ai_logging is not passed
  ai_gateway/api/v1/chat/agent.py
  ai_gateway/api/v1/search/docs.py
  ai_gateway/api/v2/chat/agent.py
  ai_gateway/api/v2/code/completions.py
  ai_gateway/api/v3/code/completions.py
  ai_gateway/chat/agents/react.py
  ai_gateway/chat/executor.py
  ai_gateway/config.py
  ai_gateway/models/base.py
  ai_gateway/structured_logging.py
  example.env
Due: lint, lint-code

chore(deps): update dependency transformers to v4.46.1
  poetry.lock
Due: none

chore: remove user in favor of CloudConnectorUser
  ai_gateway/cloud_connector/__init__.py
  ai_gateway/cloud_connector/providers.py
  ai_gateway/cloud_connector/user.py
  tests/api/v1/test_v1_chat_agent.py
  tests/api/v1/test_v1_code.py
  tests/api/v1/test_v1_prompts.py
  tests/api/v1/test_v1_proxy_anthropic.py
  tests/api/v1/test_v1_proxy_vertex_ai.py
  tests/api/v1/test_v1_search_docs.py
  tests/api/v1/test_v1_xray_libraries.py
  tests/api/v2/test_v2_chat_agent.py
  tests/api/v2/test_v2_code.py
  tests/api/v2/test_v2_mocks.py
  tests/api/v3/test_v3_code.py
  tests/cloud_connector/test_cloud_connector.py
  tests/code_suggestions/test_authentication.py
Due: lint, lint-code

feat: hide ci editor tool behind feature flag
  ai_gateway/chat/toolset.py
  ai_gateway/feature_flags/context.py
  tests/chat/test_gl_agent_remote.py
  tests/chat/test_toolset.py
Due: lint, lint-code

fix: can run ai gateway image as non-root
  Dockerfile
  docker/self_hosted/Dockerfile
Due: none

chore: compare sets as order doesn't matter
  tests/chat/test_toolset.py
Due: lint, lint-code

fix: update base template parameter to trimmed_content_below_cursor
  ai_gateway/prompts/definitions/code_suggestions/generations/base.yml
Due: none

fix(prompts): update system prompts for code suggestions
  ai_gateway/prompts/definitions/code_suggestions/completions/system.jinja
  ai_gateway/prompts/definitions/code_suggestions/generations/system.jinja
Due: none

chore: enable extended logging for LiteLLM models
  ai_gateway/models/base.py
  ai_gateway/models/v2/container.py
  ai_gateway/prompts/base.py
  ai_gateway/prompts/typing.py
  conftest.py
  tests/api/v2/test_v2_chat_agent.py
  tests/models/v2/test_container.py
  tests/prompts/test_prompt.py
  tests/prompts/test_registry.py
Due: lint, lint-code

chore(ci): set true to allow_failure in manual jobs
  .gitlab/ci/release.gitlab-ci.yml
Due: none

fix(tests): fix leaky test mock
  tests/prompts/test_litellm_prompt.py
Due: lint, lint-code

Revert "Merge branch 'custom_models/500137-cant-run-as-non-root-2' into 'main'"
  Dockerfile
  docker/self_hosted/Dockerfile
Due: none

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.44.0
  .gitlab-ci.yml
  .gitlab/ci/ingest.gitlab-ci.yml
Due: none

chore: add different model to runway staging
  .runway/env-staging.yml
  ai_gateway/prompts/definitions/chat/react/vertex_v2.yml
  tests/test_config.py
Due: lint, lint-code

feat: update /monitoring/ready endpoint to support v2 code suggestion
  ai_gateway/api/monitoring.py
  conftest.py
  tests/api/test_monitoring.py
Due: lint, lint-code

chore(deps): update dependency fastapi to v0.115.4
  poetry.lock
Due: none

chore(deps): update dependency anthropic to ^0.37.0
  poetry.lock
  pyproject.toml
Due: none

fix: don't use custom client for non-anthropic LiteLLM models
  ai_gateway/models/v2/container.py
  tests/models/v2/test_container.py
Due: lint, lint-code

chore: switch to Anthropic-on-Vertex for Duo Chat in production
  .runway/env-production.yml
Due: none

Revert "Merge branch '501033-add-new-model-to-staging' into 'main'"
  .runway/env-staging.yml
  ai_gateway/prompts/definitions/chat/react/vertex_v2.yml
  tests/test_config.py
Due: lint, lint-code

feat: add fireworks code completion support
  ai_gateway/api/v2/code/completions.py
  ai_gateway/code_suggestions/base.py
  ai_gateway/config.py
  ai_gateway/models/base.py
  ai_gateway/models/container.py
  ai_gateway/models/litellm.py
  example.env
  tests/models/test_litellm.py
Due: lint, lint-code

fix: stubs api keys when no api key is passed
  ai_gateway/models/litellm.py
  tests/models/test_litellm.py
Due: lint, lint-code

fix: add fireworks completion endpoint env var
  .runway/ai-gateway-custom/env-production.yml
  .runway/ai-gateway-custom/env-staging.yml
  .runway/env-production.yml
  .runway/env-staging.yml
Due: none

chore: cleanup chat prompt after free access cut off
  ai_gateway/chat/agents/react.py
  ai_gateway/prompts/definitions/chat/react/system.jinja
Due: lint, lint-code

Revert "Merge branch 'anthropic-vertex-prod' into 'main'"
  .runway/env-production.yml
Due: none

Path conditions:
  lint: any of: *.py
  lint-code: any of: *.py
  lint-doc: any of: *.md
