Repository renovate-bot/khulnasoft-lab-_-ai-assist: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-code, lint-doc

lint:
  run: make lint-code LINT_WORKING_DIR={staged_files}

lint-code:
  run: make lint-code

lint-doc:
  run: make lint-doc

chore(ci): keep up runway releases with renovate
  renovate.json
Due: none

fix: allow to receive resource_content in chat message
  ai_gateway/chat/agents/typing.py
  tests/api/v2/test_v2_chat_agent.py
  tests/chat/test_agent_react.py
Due: lint, lint-code

chore(deps): update dependency langchain to v0.3.14
  poetry.lock
Due: none

chore(deps): update dependency mypy to v1.14.1
  poetry.lock
Due: none

chore(deps): update dependency pydantic-settings to v2.7.1
  poetry.lock
Due: none

chore(deps): update dependency pytest-asyncio to v0.25.1
  poetry.lock
Due: none

chore(deps): update dependency gitlab-cloud-connector to v1.7.0
  poetry.lock
Due: none

fix: update default fireworks dev URL
  example.env
Due: none

chore: removes PCL notification
  README.md
Due: lint-doc

test: add missing tests
  tests/api/v2/test_v2_code.py
Due: lint, lint-code

fix: set default value for observation
  ai_gateway/api/v2/chat/typing.py
Due: lint, lint-code

feat: add xray data to /refactor, /fix, and /tests prompts
  ai_gateway/prompts/definitions/chat/_library_section.jinja
  ai_gateway/prompts/definitions/chat/fix_code/system.jinja
  ai_gateway/prompts/definitions/chat/refactor_code/system.jinja
  ai_gateway/prompts/definitions/chat/write_tests/system.jinja
Due: none

refactor: move max_model_len constant to property
  ai_gateway/code_suggestions/completions.py
  ai_gateway/code_suggestions/generations.py
  ai_gateway/code_suggestions/processing/completions.py
  ai_gateway/models/anthropic.py
  ai_gateway/models/base.py
  ai_gateway/models/litellm.py
  ai_gateway/models/vertex_text.py
  conftest.py
  tests/code_suggestions/test_completions.py
  tests/code_suggestions/test_engine.py
  tests/code_suggestions/test_generation.py
  tests/models/test_litellm.py
Due: lint, lint-code

fix: mixtral models bad format of suggested response
  ai_gateway/models/agent_model.py
  tests/models/test_agent_model.py
Due: lint, lint-code

refactor: separate initialization from input handling in ReAct agent
  ai_gateway/chat/agents/react.py
  ai_gateway/chat/container.py
  ai_gateway/chat/executor.py
  ai_gateway/prompts/base.py
  ai_gateway/prompts/registry.py
  conftest.py
  docs/aigw_prompt_registry.md
  tests/api/v1/test_v1_prompts.py
  tests/chat/test_agent_react.py
  tests/chat/test_gl_agent_remote.py
  tests/prompts/test_container.py
  tests/prompts/test_prompt.py
  tests/prompts/test_registry.py
Due: lint, lint-code, lint-doc

chore(deps): update dependency anthropic to ^0.42.0
  poetry.lock
  pyproject.toml
Due: none

chore(deps): update dependency gitlab-com/gl-infra/platform/runway/runwayctl to v3.53.0
  .gitlab-ci.yml
Due: none

docs: add note on logging not working well with hot-reloading
  example.env
Due: none

chore: limit docs tokens and log limiting results
  ai_gateway/api/v1/search/docs.py
  tests/api/v1/test_v1_search_docs.py
Due: lint, lint-code

fix: treat `ModelMetadata` as a model instead of a dict
  ai_gateway/api/v1/prompts/invoke.py
  ai_gateway/prompts/base.py
  tests/api/v1/test_v1_prompts.py
Due: lint, lint-code

Revert "Merge branch 'cm-fix-doc-questions' into 'main'"
  ai_gateway/api/v2/chat/typing.py
Due: lint, lint-code

chore: update Batch size to 1 in AI Gateway
  .runway/env-production.yml
  ai_gateway/config.py
  ai_gateway/tracking/snowplow.py
  example.env
Due: lint, lint-code

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.49.1
  .gitlab/ci/ingest.gitlab-ci.yml
Due: none

feat: update is_gitlab_team_member to fetch from headers
  ai_gateway/api/middleware.py
  tests/api/test_middleware.py
Due: lint, lint-code

refactor: pass in config as dependency instead of self initializing
  ai_gateway/api/v2/code/completions.py
  ai_gateway/api/v3/code/completions.py
  ai_gateway/api/v4/code/suggestions.py
  ai_gateway/async_dependency_resolver.py
Due: lint, lint-code

chore(deps): update dependency boto3 to v1.35.97
  poetry.lock
Due: none

chore(deps): update dependency evilmartians/lefthook to v1.10.3
  .tool-versions
Due: none

chore(deps): update dependency langchain-anthropic to v0.3.1
  poetry.lock
Due: none

chore(deps): update dependency pytest-asyncio to v0.25.2
  poetry.lock
Due: none

chore(deps): update dependency responses to v0.25.5
  poetry.lock
Due: none

chore(deps): update dependency dependency-injector to v4.45.0
  poetry.lock
Due: none

chore(deps): update dependency google-cloud-aiplatform to v1.76.0
  poetry.lock
Due: none

chore(deps): update dependency transformers to v4.48.0
  poetry.lock
Due: none

chore(deps): update dependency langchain-community to v0.3.5
  poetry.lock
Due: none

fix: unnecessary looping through events in ReActAgent
  ai_gateway/chat/agents/react.py
Due: lint, lint-code

chore(deps): update dependency fastapi to v0.115.8
  poetry.lock
Due: none

chore(deps): update dependency prometheus-fastapi-instrumentator to v7.0.2
  poetry.lock
Due: none

chore(deps): update dependency pydantic to v2.10.6
  poetry.lock
Due: none

chore(deps): update dependency pyfakefs to v5.7.4
  poetry.lock
Due: none

Path conditions:
  lint: any of: *.py
  lint-code: any of: *.py
  lint-doc: any of: *.md
