Repository renovate-bot/khulnasoft-lab-_-ai-assist: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-code, lint-doc

lefthook.yaml:

pre-commit:
  parallel: true
  skip:
    - ref: main
  commands:
    lint:
      glob: "*.py"
      run: make lint-code LINT_WORKING_DIR={staged_files}

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - ref: main
  commands:
    lint-code:
      glob: "*.py"
      run: make lint-code LINT_WORKING_DIR={staged_files}
    lint-doc:
      glob: "*.md"
      run: make lint-doc LINT_DOC_WORKING_DIR={staged_files}

chore(deps): update dependency boto3 to v1.35.54
  poetry.lock
Due: none

chore(deps): update dependency evilmartians/lefthook to v1.8.2
  .tool-versions
Due: none

chore(deps): update dependency google-cloud-discoveryengine to v0.13.3
  poetry.lock
Due: none

chore(deps): update dependency langchain to v0.3.7
  poetry.lock
Due: none

chore(deps): update dependency langchain-anthropic to v0.2.4
  poetry.lock
Due: none

chore(deps): update dependency levenshtein to v0.26.1
  poetry.lock
Due: none

chore(deps): update dependency litellm to v1.51.3
  poetry.lock
Due: none

chore(deps): update dependency pydantic-settings to v2.6.1
  poetry.lock
Due: none

chore(deps): update dependency starlette to v0.41.2
  poetry.lock
Due: none

chore(deps): update dependency google-cloud-aiplatform to v1.71.1
  poetry.lock
Due: none

chore(deps): update dependency pytest-cov to v6
  poetry.lock
  pyproject.toml
Due: none

feat: support bypassing of JWT signature verification
  ai_gateway/api/server.py
  ai_gateway/cloud_connector/providers.py
  ai_gateway/config.py
  docs/auth.md
  example.env
  tests/cloud_connector/auth/test_auth_providers.py
Due: lint, lint-code, lint-doc

fix: add fireworks endpoint identifier
  .runway/ai-gateway-custom/env-production.yml
  .runway/ai-gateway-custom/env-staging.yml
  .runway/env-production.yml
  .runway/env-staging.yml
Due: none

fix: add dependency as an additional context option
  ai_gateway/chat/agents/typing.py
  ai_gateway/cloud_connector/gitlab_features.py
Due: lint, lint-code

feat: improves doc search function calling
  ai_gateway/chat/container.py
  ai_gateway/chat/tools/gitlab.py
  ai_gateway/chat/toolset.py
  ai_gateway/container.py
  tests/chat/test_container.py
  tests/chat/test_gl_agent_remote.py
  tests/chat/test_toolset.py
Due: lint, lint-code

feat(prompts): add prompt for glab_ask_git_command
  ai_gateway/prompts/definitions/glab_ask_git_command/base.yml
Due: none

feat(react): bring back `gitlab_documentation` tool
  ai_gateway/prompts/definitions/chat/react/claude_3.yml
  ai_gateway/prompts/definitions/chat/react/system_mistral.jinja
Due: none

fix: allows docker image to be run as non root user
  Dockerfile
  docker/self_hosted/Dockerfile
Due: none

fix: remove misplaced newline in the system prompt of code completions
  ai_gateway/prompts/definitions/code_suggestions/completions/system.jinja
Due: none

fix(chat): update Mistral models Duo chat prompts
  ai_gateway/prompts/definitions/chat/react/assistant_mistral.jinja
  ai_gateway/prompts/definitions/chat/react/mistral.yml
  ai_gateway/prompts/definitions/chat/react/partials/agent_scratchpad_mistral.jinja
  ai_gateway/prompts/definitions/chat/react/system_mistral.jinja
  ai_gateway/prompts/definitions/chat/react/user_mistral.jinja
Due: none

chore: reduce lint warning noises on commit
  lefthook.yml
Due: none

feat: add failover solution for code completion
  ai_gateway/api/v2/code/completions.py
  ai_gateway/api/v2/code/typing.py
  ai_gateway/api/v3/code/completions.py
  ai_gateway/api/v3/code/typing.py
  ai_gateway/code_suggestions/base.py
  ai_gateway/code_suggestions/completions.py
  ai_gateway/code_suggestions/container.py
  tests/api/v2/test_v2_code.py
  tests/api/v3/test_v3_code.py
  tests/code_suggestions/test_container.py
Due: lint, lint-code

fix: fixes CLOUD_CONNECTOR_SERVICE_NAME being required
  ai_gateway/cloud_connector/config.py
Due: lint, lint-code

chore: remove AIGW_VERTEX_SEARCH__PROJECT from runway production config
  .runway/env-production.yml
Due: none

chore: configure CloudConnector service name
  ai_gateway/__init__.py
  ai_gateway/cloud_connector/__init__.py
  ai_gateway/cloud_connector/config.py
  tests/cloud_connector/test_config.py
Due: lint, lint-code

fix: properly builds model params for v1/chat/agent
  ai_gateway/models/base.py
  ai_gateway/models/litellm.py
  tests/models/test_litellm.py
Due: lint, lint-code

feat(prompts): add prompts for generate_commit_message
  ai_gateway/prompts/definitions/generate_commit_message/base.yml
Due: none

fix: use FIM tokens for Fireworks/Qwen model
  ai_gateway/models/litellm.py
  tests/models/test_litellm.py
Due: lint, lint-code

chore(deps): update dependency boto3 to v1.35.57
  poetry.lock
Due: none

chore(deps): update dependency transformers to v4.46.2
  poetry.lock
Due: none

chore(deps): update dependency dependency-injector to v4.43.0
  poetry.lock
Due: none

chore(deps): update dependency litellm to v1.52.3
  poetry.lock
Due: none

chore(deps): update dependency gitlab-cloud-connector to v1
  poetry.lock
  pyproject.toml
Due: none

feat: add claude 3.5 sonnet model to the anthropic model list
  ai_gateway/code_suggestions/base.py
  ai_gateway/models/anthropic.py
  tests/api/v2/test_v2_chat_agent.py
  tests/api/v2/test_v2_code.py
Due: lint, lint-code

chore(ci): remove Renovate from GitLab CI
  .gitlab-ci.yml
Due: none

fix(chat): update Mistral models markdown tags
  ai_gateway/prompts/definitions/chat/react/system_mistral.jinja
Due: none

fix: update fireworks to server in us-east to match AIGW
  .runway/ai-gateway-custom/env-production.yml
  .runway/ai-gateway-custom/env-staging.yml
  .runway/env-production.yml
  .runway/env-staging.yml
Due: none

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.46.0
  .gitlab/ci/ingest.gitlab-ci.yml
Due: none

fix: fix error when passing None suffix
  ai_gateway/models/litellm.py
  tests/models/test_litellm.py
Due: lint, lint-code

fix: extract common to mitigate circular import
  ai_gateway/instrumentators/base.py
  ai_gateway/models/agent_model.py
  ai_gateway/models/anthropic.py
  ai_gateway/models/base.py
  ai_gateway/models/base_text.py
  ai_gateway/models/litellm.py
  ai_gateway/models/mock.py
  ai_gateway/models/vertex_text.py
  ai_gateway/typing.py
  conftest.py
  tests/code_suggestions/models/test_anthropic.py
  tests/code_suggestions/models/test_mock.py
  tests/code_suggestions/models/test_palm.py
  tests/code_suggestions/test_completions.py
  tests/code_suggestions/test_engine.py
  tests/code_suggestions/test_generation.py
  tests/code_suggestions/test_instrumentators.py
Due: lint, lint-code
